@import "./bootstrap/Bootstrap-DataTables.css";
@import "./bootstrap/Dark-NavBar-Navigation-with-Button.css";
@import "./bootstrap/Dark-NavBar-Navigation-with-Search.css";
@import "./bootstrap/Dark-NavBar.css";

table {
    border-collapse: collapse;
}


.table-fix-head {
    height: 100px;
}

.table-fix-head thead th {
    position: sticky;
    top: 0;
}

.list-group-item-light {
    background-color: aliceblue;
}